{% extends 'homepage/base.html' %}
{% block head_title %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{% block content_title%}{% endblock content_title%}</h1>
            <p>{% block content_description%}{% endblock content_description%}</p>
            <div class="d-flex justify-content-end">
                <!-- Create Button trigger modal -->
                <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#createModal">
                    {% block modal_button_text %}{% endblock modal_button_text %}
                </button>
                <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createModalLabel">{% block create_modal_title %}{% endblock create_modal_title %}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% block create_url %}{% endblock create_url %}" enctype="multipart/form-data">
                                    {% block create_form %}{% endblock create_form %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% block list_content %}{% endblock list_content %}
        </div>
    </div>
</div>
{% endblock %}


