{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block head_title %}Context Files{% endblock head_title %}

{% block content %}
<div class="container">
    <h1>Context Files</h1>
    <p>Here are your files.</p>
    <div class="d-flex justify-content-end">
        <!-- Create Button trigger modal -->
        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#createModal">
            Add Files
        </button>
        <!-- Create Modal -->
        <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createModalLabel">Add Files</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Form content for creating a new API -->
                        <form method="POST" action="{% url 'upload_file' %}" enctype="multipart/form-data">
                            {% crispy form %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if context_files %}
    {% render_table table %}
    {% else %}
    <p>No files found.</p>
    {% endif %}
    {% for file_form in file_forms %}
    <div class="modal fade" id="delete-{{file_form.delete_form.instance.id}}" tabindex="-1" aria-labelledby="delete-{{file_form.delete_form.instance.id}}-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-{{file_form.delete_form.instance.id}}-label">Delete File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'delete_file' file_form.delete_form.instance.id %}" >
                        {% crispy file_form.delete_form %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock content %}